.claude/
.zed/
firmware/build
firmware/.clangd
firmware-ds/build
firmware-ds/.clangd
firmware-sim/**/__*
notes/*.pdf
notes/*.jpeg
path-planning/**/__*
path-planning/.venv
path-planning/*.h
path-planning/uv.lock
*.png
*.jpg
**/*.bak
*.stl
!hardware/Splashscreen.png
